<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>EMP_MGR_DEPT</h1>
        <table border="2px">
            <tr>
                <th>Ename</th>
                <th>ManagerName</th>
                <th>Dname</th>
                <th>sal</th>
                <th>Hiredate</th>
                <th>Comm</th>
            </tr>
        
            
            {% for eo in emp_mgr_dept%}
                <tr>
                    <td>{{eo.ename}}</td>
                    <td>{{eo.mgr.ename}}</td>
                    <td>{{eo.deptno.dname}}</td>
                    <td>{{eo.sal}}</td>
                    <td>{{eo.hiredate}}</td>
                    <td>{{eo.comm}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>